{% load staticfiles %}
<html>
    <head>
        <title>Diane's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <!-- Berkshire Swash, Ceviche One, Sacramento, Merienda One, Unkempt, Arizonia, Montez, Oregano, Bilbo+Swash+Caps, Griffy -->
        <!-- <link href="http://fonts.googleapis.com/css?family=Mystery+Quest&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Oregano&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Merienda+One&subset=latin,latin-ext" rel="stylesheet" type="text/css"> -->
        <link href="http://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    </head>
    <body>
        <div class="page-header">
          {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <p class="top-menu-small">Hello {{ user.username }} <small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
          {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
          {% endif %}
          <h1><a href="/">Diane's Django Girls Blog</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock content %}
                </div>
            </div>
        </div>
    </body>
</html>
